@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
//COLORS:
$dark-blue:#4D96A9;
$purple:#855FB1;
$darkest-blue:#28283D;
$desaturated-purple:#87879D;
$darkish-blue:#71C0D4;
$bright-blue:#8FE3F9;
$bright-purple:#D9B8FF;
$neutral-white:#FAFAFA;
$black:black;

//FONT_SIZES:

$h1:4rem;
$h2:2.5rem;
$paragraph:1.125rem;
$bold-paragraph:1rem;

// FONT-Family: 

$red-hat:'Red Hat Display', sans-serif;
$regular:500;
$bold:700;
$extra-bold:900;

